logged_data/*
debug_data/*
openQCM/*.txt
#openQCM/Calibration_5MHz.txt
#openQCM/Calibration_10MHz.txt
#openQCM/PeakFrequencies.txt
openQCM/__pycache__
openQCM/common/__pycache__
openQCM/core/__pycache__
openQCM/processors/__pycache__
openQCM/ui/__pycache__
